body, p, h1 {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-shadow: 0 0 10px;
    max-width: 100%;
    max-height: 100%;
}

#header_image {
    background-image: linear-gradient(to bottom, #FFA500 0%, #FFFF00 75%);
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
}

img.obrazekResponsywny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.tabelka img.obrazekResponsywny {
    width: 100%;
}

#footer_wrap {
    background: #212121;
    color: #F2F2F2;
    font-style: italic;
    font-family: 'Buxton Sketch';
    text-align: center;
    font-size: large;
    max-width: 100%;
    max-height: 100%;
}

#content {
    background-color: #212121;
    color: #F2F2F2;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
}

#innerContent {
    background-color: #FFA500;
    color: black;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    clear: both;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    max-height: 100%;
}

.inner {
    font-size: xx-large;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.tabelka tr, .tabelka td {
    border: 1px solid #373737;
    text-align: center;
    word-wrap: break-word;
}

.tabelka th {
    background-color: #373737;
    color: #FFFFFF;
}

.tabelka tr {
    color: #373737;
}

.tabelka td:nth-child(3) {
    background-color: #FF0000;
}

.tabelka td:nth-child(2) {
    background-color: black;
    width: 169px;
    min-width: 40px;
}

.leaflet-popup-content {
    color: black;
    max-width: 100%;
    max-height: 100%;
}


#rodzic {
    width: 600px;
    height: 55px;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

    #rodzic > span {
        display: block;
        float: left;
        width: 40px;
        line-height: 40px;
        margin: 0 5px;
        border: 3px solid #FF9900;
        background-color: yellow;
        color: black;
        border-radius: 6px;
        animation: animowany_tekst 5s linear infinite;
        -webkit-animation: animowany_tekst 5s linear infinite;
        font-size: xx-large;
        font-weight: 900;
    }

        #rodzic > span:nth-child(1) {
            animation-delay: 250ms;
            -webkit-animation-delay: 250ms;
        }

        #rodzic > span:nth-child(2) {
            animation-delay: 500ms;
            -webkit-animation-delay: 500ms;
        }

        #rodzic > span:nth-child(3) {
            animation-delay: 750ms;
            -webkit-animation-delay: 750ms;
        }

        #rodzic > span:nth-child(4) {
            animation-delay: 1000ms;
            -webkit-animation-delay: 1000ms;
        }

        #rodzic > span:nth-child(5) {
            animation-delay: 1250ms;
            -webkit-animation-delay: 1250ms;
        }

        #rodzic > span:nth-child(6) {
            animation-delay: 1500ms;
            -webkit-animation-delay: 1500ms;
        }

        #rodzic > span:nth-child(7) {
            animation-delay: 1750ms;
            -webkit-animation-delay: 1750ms;
        }

        #rodzic > span:nth-child(8) {
            animation-delay: 2000ms;
            -webkit-animation-delay: 2000ms;
        }

        #rodzic > span:nth-child(9) {
            animation-delay: 2250ms;
            -webkit-animation-delay: 2250ms;
        }


/*------------------------ANIMACJA------------------------*/
@keyframes animowany_tekst {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes animowany_tekst /* dla Google Chrome, Safari, Opera 15+ */
{
    0% {
        -webkit-transform: rotate(0);
    }

    10% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}


.menu {
    background-color: #666666;
    font-size: medium;
    width: 100%;
    display: block;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: thin;
    border-bottom-width: thin;
    border-top-color: #808080;
    border-bottom-color: #808080;
}

    .menu div {
        border: thin solid #808080;
        float: left;
        color: #FFFFFF;
        margin: 5px;
        padding: 3px;
        box-shadow: 0px 0px 2px 2px #808080;
    }

        .menu div a {
            color: #FFFFFF;
            text-decoration: none;
        }
